


// import CSS from "csstype";
// import "./carousel.scss";
// const carouselWrapper: CSS.Properties = {
//   border: "1px solid red",
//   height: "600px",
//   maxWidth: "1200px",
// };


.carousel-wrapper { 
   height:720px;
   width:100%;

   @media only screen and (max-width: 600px) {
    height:300px;
  }
}